body,
html {
  font-family: Consolas;
  padding: 0;
  margin: 0;
  background-color: rgb(71, 67, 67);
}

.header {
  background: url(https://upload.wikimedia.org/wikipedia/commons/0/06/Cloud_sky_over_Brest.jpg)
    no-repeat center top;
  background-size: cover;
  margin: 0.5rem;
  height: 13rem;
  padding: 0.5rem;
  color: antiquewhite;
}

.flex-container > div {
  background-color: #201e1e;
  margin: 0.5rem;
  height: 30rem;/* remove the height for a different layout*/
  display: flex;
}

.toggle-text {
  background: none;
  color: whitesmoke;
  width: calc(50% - 1rem);
  height: 100%;
  font-size: 2rem;
  border-style: none;
  text-decoration: underline overline;
  text-decoration-color: rgb(4, 58, 102);
  outline: none; /*removes buttons outline*/
  /*position: absolute;  /* add the abbsolute position center the button*/
}

.toggle-text:not(:hover) {
  transition: 4s;
  transform: scale3d(0.6, 0.6, -0.3);
}

/*style four sections and content*/

.intro-container {
  width: calc(50% - 1rem);
  float: left;
}

.aboutme-container {
  width: calc(50% - 1rem);
  float: right;
}

.myportfolio-container {
  width: calc(50% - 1rem);
  float: left;
}

.contact-container {
  width: calc(50% - 1rem);
  float: right;
}

p {
  color: rgba(207, 227, 235, 0.603);
 
  padding: 1rem;
  position: inherit;
  overflow: auto;
}
a{color: inherit;}

a:hover, a:active {
  background: #ddd;
  color: black;
}




