

.card{background-color: floralwhite; outline: 3px solid black;}

.body{background-color: floralwhite;font-family: Consolas;}


p {font-family: Consolas;background-color: grey; padding:1rem; font-size:0.8rem; }

.nav a{color:blue}

a {font-size: 1rem; color: black}